#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#app {
  @apply h-full;
}

:root {
  --color-light: 0 0% 90%;
  --color-dark: 0 0% 10%;
  /* NOTIFICATIONS */
  --color-info-bg: 207 54% 88%;
  --color-info-text: 209 86% 6%;
  --color-info-border: 208 59% 82%;
  --color-warning-bg: 38 100% 93%;
  --color-warning-text: 39 100% 8%;
  --color-warning-border: 38 61% 85%;
  --color-error-bg: 5 100% 93%;
  --color-error-text: 4 100% 8%;
  --color-error-border: 4 61% 85%;

  /* PRIMARY */
  --color-primary-bg: 0 0% 90%;
  --color-primary-text: 0 0% 20%;
  --color-primary-border: 0 0% 25%;
  /* -hover */
  --color-primary-bg-hover: 0 0% 85%;
  --color-primary-text-hover: 0 0% 0%;
  --color-primary-border-hover: 0 0% 85%;
  /* -focus */
  --color-primary-bg-focus: 0 0% 95%;
  --color-primary-text-focus: 0 0% 0%;
  --color-primary-border-focus: 0 0% 85%;
  /* -active */
  --color-primary-bg-active: 0 0% 100%;
  --color-primary-text-active: 0 0% 0%;
  --color-primary-border-active: 0 0% 85%;
  /* -placeholder */
  --color-primary-placeholder: 0 0% 85%;

  /* SECONDARY */
  --color-secondary-bg: 0 0% 15%;
  --color-secondary-text: 0 0% 95%;
  --color-secondary-border: 0 0% 25%;
  /* -hover */
  --color-secondary-bg-hover: 0 0% 25%;
  --color-secondary-text-hover: 0 0% 100%;
  --color-secondary-border-hover: 0 0% 15%;
  /* -focus */
  --color-secondary-bg-focus: 0 0% 50%;
  --color-secondary-text-focus: 0 0% 100%;
  --color-secondary-border-focus: 0 0% 25%;
  /* -active */
  --color-secondary-bg-active: 0 0% 0%;
  --color-secondary-text-active: 0 0% 100%;
  --color-secondary-border-active: 0 0% 25%;
  /* -placeholder */
  --color-secondary-placeholder: 0 0% 15%;

  /* SECTION */
  --color-section-bg-sl: 45% 75%;
  --color-section-accent-sl: 50% 33%;
  --color-section-text-sl: 0% 95%;
  --color-section-border-sl: 50% 85%;
}

/* VARIABLES */
.retro-section.continue {
  --section-color-hue: 79;
  --color-hue: 79;
}
.retro-section.stop {
  --section-color-hue: 5;
  --color-hue: 5;
}
.retro-section.try {
  --section-color-hue: 39; /* 152; */
  --color-hue: 39; /* 152; */
}
.retro-section.kudos {
  --section-color-hue: 208;
  --color-hue: 208;
}

/* UTILITIES */
@media (prefers-reduced-motion: no-preference) {
  .interactive {
    @apply transition-all;
  }
}
.flex-center {
  @apply flex items-center justify-center;
}

/* ANIMATION: group-fade */
.group-fade-move {
  @apply transition-all ease-in-out duration-400;
}
.group-fade-leave-active {
  @apply absolute right-0;
}
.group-fade-enter-active,
.group-fade-leave-active {
  @apply transition-all ease-in-out duration-400;
}
.group-fade-enter-from,
.group-fade-leave-to {
  @apply opacity-0;
}

/* ANIMATION: list */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}
.list-leave-active {
  position: absolute;
}

/* ANIMATION: fade */
.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-200 ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

/* ANIMATION: grow-fade */
.grow-fade-enter-active,
.grow-fade-leave-active {
  @apply transition-all duration-200 ease-out;
  @apply transform scale-150;
}
.grow-fade-enter-from,
.grow-fade-leave-to {
  @apply opacity-0;
  @apply transform scale-100;
}
