#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#app {
  @apply h-full;
}

/* MAIN VARIABLES */
.retro-section {
  --dark-text-color: white;
  --light-text-color: black;
  --input-placeholder-color: hsl(215, 14%, 34%);
  --bg-color-sl: 45%, 75%;
  --border-color-sl: 50%, 85%;
  --button-bg-color-sl: 50%, 33%;
  /* Section */
  --bg-color: hsl(var(--section-color-hue), var(--bg-color-sl));
  --border-color: hsl(var(--section-color-hue), var(--border-color-sl));
  --input-bg-color: var(--border-color);
  --button-bg-color: hsl(var(--section-color-hue), var(--button-bg-color-sl));
}

/* VARIABLES */
.retro-section.continue {
  --section-color-hue: 79;
}
.retro-section.stop {
  --section-color-hue: 5;
}
.retro-section.try {
  --section-color-hue: 39; /* 152; */
}
.retro-section.kudos {
  --section-color-hue: 208;
}

/* UTILITIES */
.flex-center {
  @apply flex items-center justify-center;
}

/* ANIMATION: group-fade */
.group-fade-move {
  @apply transition-all ease-in-out duration-400;
}
.group-fade-leave-active {
  @apply absolute right-0;
}
.group-fade-enter-active,
.group-fade-leave-active {
  @apply transition-all ease-in-out duration-400;
}
.group-fade-enter-from,
.group-fade-leave-to {
  @apply opacity-0;
}

/* ANIMATION: list */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}
.list-leave-active {
  position: absolute;
}

/* ANIMATION: fade */
.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-200 ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

/* ANIMATION: grow-fade */
.grow-fade-enter-active,
.grow-fade-leave-active {
  @apply transition-all duration-200 ease-out;
  @apply transform scale-150;
}
.grow-fade-enter-from,
.grow-fade-leave-to {
  @apply opacity-0;
  @apply transform scale-100;
}
